node_modules
.DS_Store
dist
.vscode
.env.*
__pycache__/
*.pyc
*.bin
.chroma/
**/.chroma/
*.db
*.db3
*.sqlite
*.sqlite3
/LOG_DETECT_AGENTS_BACK/data/
*.xlsx
/LOG_DETECT_AGENTS_BACK/.venv
/LOG_DETECT_AGENTS_BACK/.chroma/
/LOG_DETECT_AGENTS_BACK/.chroma
